<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rover">

    <xacro:include filename="Properties.xacro"/>

    <xacro:include filename="rover_base.xacro"/>

    <xacro:include filename="mobile_base.ros2_control.xacro"/>

    <xacro:include filename="gazebo_control.xacro"/>

</robot>
